[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncio = "*"
urwid = "==2.0.1"
pyperclip = "==1.6.2"
requests = "*"
slackclient = "*"
urwid-readline = "*"
websocket-client = "==0.47.0"
pyyaml = "*"

[dev-packages]

pytest = "*"
black = "==19.10b0"
isort = "*"
pylint = "*"
